<div class="my-profile">
  <!-- Profile View Mode -->
  <div *ngIf="!editMode">
    <img class="profile-image" [src]="user.imageUrl" alt="{{ user.name }}'s Profile Image" />
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Bio:</strong> {{ user.bio }}</p>
    <button (click)="enableEdit()">Edit Profile</button>
  </div>

  <!-- Profile Edit Mode -->
  <div *ngIf="editMode">
    <label>
      Name:
      <input [(ngModel)]="updatedUser.name" />
    </label>
    <label>
      Email:
      <input [(ngModel)]="updatedUser.email" />
    </label>
    <label>
      Bio:
      <input [(ngModel)]="updatedUser.bio" />
    </label>
    <button (click)="saveChanges()">Save</button>
  </div>
</div>
