<!-- home.component.html -->
<!-- <app-header></app-header>
<app-menu></app-menu>     -->

<div class="home-content">
  <section class="announcement">
    <h2>Latest Announcements</h2>
    <p>Stay up-to-date with all our latest news, events, and updates.</p>
  </section>
  <section class="highlights">
    <h2>Highlights</h2>
    <p>Explore our top-rated programs, excellent faculty, and vibrant campus life.</p>
    <button>Learn More</button>
  </section>
</div>

<!-- <app-footer></app-footer>  -->
